<div class="container">
  <%= simple_form_for pet do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :date %>
    <%= f.input :species, collection: Pet::SPECIES %>
    <%= f.submit %>
  <% end %>
  <%= link_to "back", pets_path, class:"btn btn-primary" %>
</div>
